html{
	background-color: #121615;

}
body{
  background-color: #121615;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;

}
/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');


.cardfooter {
    padding: 2% 7%;
    color: #646771;
    background-color: #121615;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

ul>li {
    padding: 4px
}

ul>li:hover {
    color: #d9524a;
    cursor: pointer
}

hr {
    border-width: 3px
}

.social>i {
    padding: 1%;
    font-size: 15px
}

.social>i:hover {
    color: #d9524a;
    cursor: pointer
}

.policy>div {
    padding: 4px
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    color: white
}

.divider {
    border-top: 2px solid rgba(189, 196, 203, 0.5);
}



/*slider*/
.MultiCarousel { float: left; overflow: hidden;  width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
     .MultiCarousel-inner{margin-left: 10%;margin-right: 10%;}
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
/*card*/

.reserve{
	text-align:center; 
	border-top-left-radius: 10px;
	border-top-right-radius: 10px; 
	margin-top:2%; 
	background-color: grey; 
	height:15%
}

.sold{
	text-align:center; 
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top:2%; background-color: green; 
	height:15%;
}
.box
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
.card
{
	width: 300px;
    height: 350px;
    transition: 0.5s;
}
.card:hover
{
    border: 1px solid #d9524a;
    border-radius: 30px;
	
}
.card:hover .sold{
	text-align:center; 
	border-top-left-radius: 25px;
	border-top-right-radius: 25px; 
	margin-top:2%; background-color: green; 
	height:15%;
}


.card:hover .reserve{
	text-align:center; 
	border-top-left-radius: 25px;
	border-top-right-radius: 25px; 
	margin-top:2%; 
	background-color: grey; 
	height:15%
}

.card .cardImg
{
    height: 40%;
    width: 90%;
    position: relative;
    left: 5%;
}
.card .cardImg img
{
    width: 100%;
    height: 100%;
	
}

.card .info
{
	margin-top: 10%;
    text-align: center;
}
.card .info h3
{
    color: rgb(70, 66, 66);
}
.card .info p
{
    color:#d9524a;
}

@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

  
     .MultiCarousel-inner{margin-left: 0%; margin-right: 0%;}

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
	
	/* Un message personnalisé */

	body:before {
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
  }




}


@media (max-width: 1024px) {
	* {
		box-sizing: border-box;
	}



	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	
	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}
	
	/* conserver le ratio des images */

	img {
		height: auto;
	}
	
	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}
	
	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}
	

	.element1,
	.element2 {
		float: none;
		width: auto;
	}
	
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}
	
	/* Un message personnalisé */

	body:before {
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
  }
  



}

